@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
--VeryDarkGrayishBlue: hsl(217, 19%, 35%);
--DesaturatedDarkBlue: hsl(214, 17%, 51%);
--GrayishBlue: hsl(212, 23%, 69%);
--LightGrayishBlue: hsl(210, 46%, 95%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:var(--GrayishBlue);
    font-family: 'Manrope', sans-serif;
}
.main_container{
    display: flex;
}
.info_container{
    max-width: 66rem;
    max-height: 40rem;
    background: var(--LightGrayishBlue);
    border-radius: 0 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info_container h3{
    font-size: 3.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.info_container p{
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: var(--VeryDarkGrayishBlue);
}
.image_container img{
    max-width: 66rem;
    max-height: 40rem;
    border-radius: 2rem 0 0 2rem;
}
.avatar_container{
    display: flex;
    align-items: center;
}
.avatar_container img{
    max-width: 6rem;
    height: auto;
    border-radius: 50%;
    margin-left: 5rem;
}

.avatar_container p{
    margin-left: 2rem;
}
.avatar_container span{
    font-weight: 600;
}

.icon_box{
    background: var(--VeryDarkGrayishBlue);
    display: flex;
    width: 40rem;
    height: 6rem;
    align-items: center;
    border-radius: 1rem;
    position: absolute;
    top: 48rem;
    left: 125rem;
}
.icon_box p{
    color: var(--DesaturatedDarkBlue);
    letter-spacing: .5rem;
}
.icon_box img{
    margin-right: -1.5rem;
}
#close{
    width: 20px;
    height: auto;
    position: relative;
    right: 5px;
    top: -15px;
    cursor: pointer;
}
#open{
    display: none;
}
#triangle{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--VeryDarkGrayishBlue);
    position: relative;
    top: 4rem;
    right: 20.5rem;
    
}
    
.share_btn{
    height: 4rem;
    width: 4rem;
    background-color: var(--VeryDarkGrayishBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    right: -20rem;
    cursor: pointer;

}
.share_btn:hover{
    background-color:var(--GrayishBlue);
}
.share_btn img{
    margin: 0 auto;
}
    
    
    
    


    